.card {
    width: 100%;
    max-width: 160px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  .card img {
    width: 100%;
    display: block;
    border-radius: 8px;
    
  }
  .cardsContainer {
    display: grid;
    gap: 40px; 
  }