/* Modo Claro */
:root {
  --background: #ffffffcb; /* Azul elétrico para modo claro */
  --foreground: #00014d; /* Branco puro para o texto */
  --link-color: #8400ff; /* Roxo vibrante para links */
}

/* Modo Escuro */
body.dark-mode {
  --background: #190027; /* Preto escuro para modo escuro */
  --foreground: #ffee00; /* Cinza claro para texto */
  --link-color: #ff0000; /* Dourado para links no modo escuro */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Zen Dots', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color); /* Links com roxo vibrante ou dourado */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}